
<div class="page">
    <div class="body">
        <h3>This example shows how to create a basic registration form.</h3>

        <h4>Notes:</h4>
        <ul>
            <li>The validations here are triggered by 'when-dirty'.</li>
            <li>The 'responsive' flag is set to true, which means this wizard is responsive.</li>
            <li>The 'autoscroll' flag is set to true. The wizard will support an automatic smooth-scroll to an invalid input on submit attempt.</li>
        </ul> 

        <github-link [urlSuffix]="'/pages/registration'"></github-link>

        <div class="form-wizard-container">
            <ngx-mat-form-wizard
                [groups]="groups"
                [responsive]="true"
                [autoscroll]="true"
                [offset]="70"
                [errorState]="'when-dirty'"
                [submitText]="'Create New Account'"
                (onsubmit)="handleSubmit($event)">
            </ngx-mat-form-wizard>
        </div>
    </div>
</div>