
<div class="page">
    <div class="body">
        <h3>This example shows how to implement real-time search by using different fields.</h3>
        
        <h4>Notes:</h4>
        <ul>
            <li>the first group demonstrates autocomplete real-time search with a single select, while the cities list is determined by the selected country.</li>
            <li>the second group demonstrates autocomplete real-time search with multi-select, using the 'autocomplete-multiple' field.</li>
            <li>the third group demonstrates autocomplete real-time search with multi-select, while the search results are shown within a checklist component.</li>
        </ul> 

        <ngx-mat-form-wizard
            [groups]="groups"
            [responsive]="true"
            [autoscroll]="false"
            [submitText]="'Continue'"
            [offset]="70"
            (onsubmit)="handleSubmit($event)">
        </ngx-mat-form-wizard>
    </div>
</div>