
<div class="page">
    <div class="body">
        <h3>This example shows how to implement real-time search by using different fields.</h3>
        
        <h4>Notes:</h4>
        <ul>
            <li>The first group demonstrates autocomplete real-time search with a single select, while the selected country determines the cities list.</li>
            <li>The second group demonstrates autocomplete real-time search with multiple selections, using the 'autocomplete-multiple' field.</li>
            <li>The third group demonstrates autocomplete real-time search with multiple selections, while the search results are shown within a checklist component.</li>
        </ul> 

        <ngx-mat-form-wizard
            [groups]="groups"
            [responsive]="true"
            [autoscroll]="true"
            [offset]="70"
            [submitText]="'Continue'"
            (onsubmit)="handleSubmit($event)">
        </ngx-mat-form-wizard>
    </div>
</div>