
<div class="page">
    <div class="body">
        <h3>This example shows how to subscribe to different kinds of events.</h3>

        <h4>Notes:</h4>
        <ul>
            <li>Using the 'WizardEventBus' service, it is possible to subscribe to an entity's events.</li>
            <li>It's essential to unsubscribe from those subscriptions when the current view is destroyed.</li>
            <li>Please open the console to see the results.</li>
        </ul> 

        <ngx-mat-form-wizard
            [groups]="groups"
            [responsive]="true"
            [autoscroll]="true"
            [offset]="70"
            (onsubmit)="handleSubmit($event)"
            (unsubmit)="handleUnsubmit($event)">
        </ngx-mat-form-wizard>
    </div>
</div>