
<div class="page">
    <div class="body">
        <p>This example shows how to use the wizard in order to create a basic registration form.</p>

        <div class="form-wizard-container">
            <ngx-mat-form-wizard
                [groups]="groups"
                [errorState]="'when-touched'"
                [responsive]="true"
                [autoscroll]="true"
                [offset]="70"
                [submitText]="'Create New Account'">
            </ngx-mat-form-wizard>
        </div>
    </div>
</div>