
<div class="page">
    <div class="body">
        <h3>This example shows how to validate match between two fields.</h3>

        <h4>Notes:</h4>
        <ul>
            <li>The value match validation will work only for two fields that are under the <u>same</u> group.</li>
            <li>You can validate match also between two fields that are not of the same type.</li>
            <li>This kind of validation is currently available <u>only</u> for the following field types: text, number, email, password.</li>   
        </ul> 
        
        <div class="form-wizard-container">
            <ngx-mat-form-wizard
                [groups]="groups"
                [responsive]="true"
                [hideSubmit]="true"
                [autoscroll]="true"
                [offset]="70">
            </ngx-mat-form-wizard>
        </div>
    </div>
</div>