
<div class="page">
    <div class="body">
        <h3>This example shows how to submit a wizard using a custom button, with three different approaches.</h3>

        <h4>Notes:</h4>
        <ul>
            <li>You can use the 'remoteSubmit()' function to manually submit a wizard.</li>
            <li>The 'hideSubmit' flag is set to true, which means the form doesn't have the default submit button.</li>
        </ul> 

        <ngx-mat-form-wizard #wizard
            [groups]="groups"
            [responsive]="true"
            [hideSubmit]="true"
            [autoscroll]="true"
            [offset]="70"
            (onsubmit)="handleSubmit($event)"
            (unsubmit)="handleUnsubmit($event)">
        </ngx-mat-form-wizard>

        <div class="remote-submit">
            <button type="submit" (click)="usingViewChildReference()">
                Submit Using 'ViewChild' Reference
            </button>
            
            <button type="submit" (click)="bySendingTemplateReference(wizard)">
                Submit By Sending Template Reference
            </button>
    
            <button type="submit" (click)="wizard.remoteSubmit()">
                Submit Directly Using Template Reference
            </button>
        </div>
        
    </div>
</div>