
<div class="page">
    <div class="body">
        <h3>This example shows how to create a basic login form.</h3>

        <h4>Notes:</h4>
        <ul>
            <li>The validations here are triggered by 'when-submitted' (this is also the default behavior).</li>
            <li>The 'hideSubmit' property is set to true, which means the form doesn't have the default submit button.</li>
            <li>The 'frameless' property is set to true, which means the form has no frame.</li>
        </ul> 

        <div class="form-wizard-container">
            <ngx-mat-form-wizard
                [groups]="groups"
                [errorState]="'when-submitted'"
                [responsive]="true"
                [hideSubmit]="true"
                [autoscroll]="true"
                [offset]="70">
            </ngx-mat-form-wizard>
        </div>
    </div>
</div>