/* You can add global styles to this file, and also import other style files */

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: assistant-regular;
    //font-family: cursive;
}

@font-face {
    font-family: assistant-regular;
    src: url('./assets/fonts/assistant-regular.ttf');
}

h3 {
    padding-bottom: 15px;
}

ul {
    list-style-position: inside;
}

li {
    line-height: 1.7;
}